doctype html
html(lang="en")
  head
    title Yang
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width height=device-height initial-scale=1")
    link(rel='shortcut icon' href='favicon.png' type='image/x-icon') 
    link(href='css/style.css' type='text/css' rel='stylesheet')
  body
    h1.intro
      | My name is Yang,
      br
      | I am a programmer.

    img(src="/img/SoaringDove.gif" title="world")

    .links
      a.email zhy0216[at]gmail[dot]com
      a.github(href="https://github.com/zhy0216", target="_blank") Github

    .badges
      img(src="/img/world.gif" title="world")
      br
      img(src="http://hitwebcounter.com/counter/counter.php?page=6257721&style=0027&nbdigits=5&type=ip&initCount=1024" title="ray's counter" Alt="ray's counter" border="0")
      p.woah(style={color: 'white', float: "right"}) Woah! Responsive Web Design!
      br
      img(src="/badge/valid_html3.2.gif")
      img(src="/badge/macmade-wht.gif")
      img(src="/badge/bvint.gif")
    script(type="application/javascript", src="js/script.js")
